@charset "utf-8";
body {
	font-family: 'Roboto', sans-serif;
	background: #42413C;
	margin: 0;
	padding: 0;
	color: #555C68;
    font-weight: 400;
}

/* ~~ Seletores de elementos/tag ~~ */
ul, ol, dl { /* Devido a variações entre navegadores, é recomendado zerar o padding e a margem nas listas. É possível especificar as quantidades aqui ou nos itens da lista (LI, DT, DD) que eles contêm. Lembre-se: o que você fizer aqui ficará em cascata para a lista de navegação a não ser que você escreva outro seletor mais específico. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* ao remover a margem superior, as margens podem escapar das suas containing div. A margem inferior restante vai mantê-la afastada de qualquer elemento que se segue. */
	padding-right: 15px;
	padding-left: 15px; /* adicionando o padding para os lados dos elementos dentro dos divs, ao invés dos próprios divs o livra de qualquer combinação de modelo de caixa. Um div aninhado com padding lateral também pode ser usado como método alternativo. */
}
a img { /* esse seletor remove a borda azul padrão exibida em alguns navegadores ao redor de uma imagem circundada por um link. */
	border: none;
}
/* ~~ A estilização dos links do seu site deve permanecer nesta ordem – incluindo o grupo de seletores que criam o efeito hover. ~~ */
a:link {
	color: #42413C;
	text-decoration: underline; /* a não ser que você estilize seus links para que pareçam extremamente únicos, é melhor utilizar links sublinhados para uma identificação visual mais rápida. */
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* esse grupo de seletores dará ao navegador que estiver usando um teclado a mesma experiência hover do que uma pessoa usando um mouse. */
	text-decoration: none;
}

/* ~~ esse contêiner de largura fixa envolve os outros divs~~ */
.container {
	width: 100%;
	max-width: 800px;
	max-height: 100%;
	min-height: 600px;
	background: #FFF;
	margin: 0 auto; /* o valor automático nos lados, combinado com a largura, centraliza o layout */
}
#menu ul {
			padding:0px;
			margin:0px;
			/* float: left; */
			/* width: 100%; */
			background-color:#EDEDED;
			list-style:none;
			font:20px Arial;
		}
 
		#menu ul li { display: inline; }
 
		#menu ul li a {
			background-color:#EDEDED;
			color: #333;
			text-decoration: none;
			border-bottom:3px solid #EDEDED;
			padding: 2px 10px;
			float:left;
		}
 
		#menu ul li a:hover {
			background-color:#D6D6D6;
			color: #6D6D6D;
			border-bottom:2px solid #08088A;
		}
/* ~ cabeçalho do site~ */
.header {
	background: #0080FF;
}
#logotipo{
  height:50px;
  margin-top:10px;
  display:inline-block;
}

#menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.content {

	padding: 10px 0;
}

/* O rodapé  */
.footer {
	padding: 10px 0;
	background: #0080FF;
	text-align: right;
	color: #fff;
}

.fltrt {  
	float: right;
	margin-left: 8px;
}
.fltlft { 
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
/*CONTATO*/

.form{
	display: flex;
	justify-content: center;
}

.contato{
	width: 100%;
	max-width: 500px;
}

.field{
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #DDD;
	border-radius: 5px;
}
textarea .field{
	height: 150px;
}

.formface{
	display: flex;
	align-items: center;
	justify-content: center;
}

.formbox input{
	width: 100%;
}
.formbox textarea{
	width: 100%;
}




